<html>

<head>
  <title>Express login</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Express login</h1>
  <p>Welcome to Express login</p>
  <form id="login">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
  </form>
</body>

</html>

<script>
document.querySelector('#login').onsubmit = (e) => {
  e.preventDefault()
  const formProps = Object.fromEntries(new FormData(e.target))
  fetch ("/login", {
    headers: {
      "Content-Type": 'application/json'
    },
    method: "POST",
    body: JSON.stringify(formProps)
  })
  .then(response => response.json())
  .then(data => console.log(data))
  .catch(err => console.log(err))
}
</script>